*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-body: 1rem;
  --fs-xl: 4rem;
  --fs-h1: 2.25rem;
  --fs-h2: 1.5rem;
  --clr-light: #fff;
  --clr-grey: #989898;
  --clr-dark: #444;
  --clr-accent: #D06D6D;
  --clr-accent-dark: #613131;
}

/* Hiding 10-day Forecast History section https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
hides the content, but not from the screen-reader */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1, h2, h3 {
  line-height: 1;
}

a {
  color: var(--clr-accent);
}

a:hover {
  color: var(--clr-accent-dark);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url(../images/mars-background.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: var(--clr-light);
}

.hero {
  background: rgba(0, 0, 0, 0.6);
  padding: 2em;
  width: 75%;
  margin: 4em auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.hero-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-accent);
  letter-spacing: 1px;
  grid-column: 1 / -1;
}

.section-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  margin: 0;
}

.section-title--large {
  font-size: var(--fs-xl);
}

.reading {
  font-size: var(--fs-h2);
  font-weight: var(--fw-light);
  color: var(--clr-grey);
  margin: 0;
}

.date {
  font-size: var(--fs-h2);
  color: var(--clr-grey);
  margin: 0;
}

.temperature-section {
  --border-spacers: solid .25em var(--clr-accent-dark);
  border-left: var(--border-spacers);
  border-right: var(--border-spacers);
  padding: 0 2em;
}

.temperature-section .temperature-data {
  padding-top: 0.5em;
}

.temperature-section .reading {
  line-height: 1.2;
}

.wind-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.wind-section .wind-section-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.wind-section .img-cloud {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}

.info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.unit {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  color: var(--clr-light);
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;
}

.unit:hover {
  opacity: 1;
}

.unit label {
  cursor: pointer;
}

.unit input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.unit-toggle {
  cursor: pointer;
  width: 3.5em;
  border-radius: 100em;
  border: 2px solid var(--clr-light);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0;
  margin: 0 .5em;
}

.unit-toggle::after {
  content: '';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  background: var(--clr-light);
  height: 1em;
  width: 1em;
  border-radius: 50%;
  margin: 3px;
  margin-left: auto;
}

:checked ~ .unit-toggle::after {
  margin-left: 3px;
}

.previous-weather-hide-arrow {
  position: absolute;
  background: var(--clr-light);
  width: 10em;
  left: 50%;
  -webkit-transform: translate(-50%, -170%);
          transform: translate(-50%, -170%);
  text-align: center;
  font-size: var(--fs-h2);
  font-family: inherit;
  border: 0;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
  cursor: pointer;
  color: var(--clr-grey);
}

.previous-weather-hide-arrow:hover {
  color: var(--clr-dark);
  font-size: calc(var(--fs-h2) * 1.1);
}

.previous-weather-hide-arrow span {
  display: block;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.section-title-previous-weather {
  font-weight: var(--fw-normal);
}

.previous-weather-section {
  background-color: var(--clr-light);
  color: var(--clr-grey);
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  padding: 2em 2em 4em 2em;
}

.previous-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.show-weather {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.show-weather .previous-weather-hide-arrow span {
  display: block;
  -webkit-transform: rotate(180deg) translateY(-8px);
          transform: rotate(180deg) translateY(-8px);
}
/*# sourceMappingURL=main.css.map */